@page 
@using Locker.Pages
@model AddCourierModel

@Html.AntiForgeryToken()


<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4" data-aos="zoom-out">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Kurye Ekle</h5>

                </div>
                <div class="card-body">


                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="row gy-5">
                                <div class="col-lg-6 order-lg-2 position-relative" id="sender-div" data-aos="zoom-out">

                                   
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Ad Soyad</label>
                                        <label id="userType" class="warning-label"></label>
                                        <input class="form-control" name="name"></input>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Email</label>
                                        <label id="userType" class="warning-label"></label>
                                        <input class="form-control" name="email"></input>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Telefon</label>
                                        <label id="userType" class="warning-label"></label>
                                        <input class="form-control" name="phone"></input>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Şifre</label>
                                        <label id="userType" class="warning-label"></label>
                                        <input class="form-control" name="password"></input>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-email">Bölge</label>
                                        <select class="form-control" name="regionId">
                                            @foreach (var region in Model.Regions)
                                            {
                                                <option value="@region.Id">@region.Name</option>
                                            }
                                        </select>
                                        <label id="userType" class="warning-label"></label>
                                    </div>
                                  

                                    <button class="form-control" type="submit">Kaydet</button>

                                </div>

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>