@page 
@using Locker.Pages
@model ChangePasswordModel
@{ Layout = ""; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="ISO-8859-1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - AgriCulture Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Favicons -->
    <link href="main/assets/img/favicon.png" rel="icon">
    <link href="main/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Marcellus:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <style>
      #locker1-map {
        height: 300px;
      }

      #locker2-map {
        height: 300px;
      }

      .warning-label {
        color: red;
      }

      .box-div-active {
        background: rgb(241, 242, 242);
        color: white;
        border: 2px solid rgb(240, 135, 135);
        border-radius: 25px;
      }
    </style>
    <!-- Vendor CSS Files -->
    <link href="main/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="main/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="main/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="main/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="main/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <!-- Main CSS File -->
    <link href="main/assets/css/main.css" rel="stylesheet">
    <!-- =======================================================
    * Template Name: AgriCulture
    * Template URL: https://bootstrapmade.com/agriculture-bootstrap-website-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body class="index-page">
<header id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="main/assets/img/logo.png" alt="AgriCulture">
            <!-- <h1 class="sitename">AgriCulture</h1>  -->
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li>
                    <a href="index.html" class="active">Home</a>
                </li>
                <li>
                    <a href="about.html">How To?</a>
                </li>
                <li>
                    <a href="/home">Cargo Point Locations</a>
                </li>
                <li>
                    <a href="/lockertolocker">Locker to Locker</a>
                </li>
                <li>
                    <a href="blog.html">Address to Locker</a>
                </li>
                <li>
                    <a href="blog.html">Locker to Address</a>
                </li>
                <li>
                    <a href="contact.html">FAQ's</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>
<main class="main">
    <section id="about-3" class="about-3 section">
        <div class="container">
            <div class="row gy-4 justify-content-between align-items-center">
                @using (Html.BeginForm())
                {
                   
                 
                    <div class="row">
                        <div class="row gy-5">
                            <div class="col-lg-6 order-lg-2 position-relative" id="sender-div" data-aos="zoom-out">
                                @if(!Model.IsForgotPasswordProcess){
                                     <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Mevcut Şifre</label>
                                    <label id="senderNameWarning" class="warning-label"></label>
                                    <input type="text" class="form-control" name="oldPassword" id="basic-default-fullname" required/>
                                </div>
                                }
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Yeni Şifre</label>
                                    <label id="senderNameWarning" class="warning-label"></label>
                                    <input type="text" class="form-control" name="password" id="basic-default-fullname" required/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Yeni Şifre (Tekrar)</label>
                                    <label id="senderPhoneWarning" class="warning-label"></label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="verifyPassword" id="basic-default-fullname" required/>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-form-submit btn-success">Şifremi Değiştir</button>

                            </div>

                        </div>
                    </div>
                   
                }
            </div>
        </div>
    </section>
</main>
<footer id="footer" class="footer dark-background">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span class="sitename">AgriCulture</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>A108 Adam Street</p>
                        <p>New York, NY 535022</p>
                        <p class="mt-3">
                            <strong>Phone:</strong>
                            <span>+1 5589 55488 55</span>
                        </p>
                        <p>
                            <strong>Email:</strong>
                            <span>info@example.com</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Terms of service</a>
                        </li>
                        <li>
                            <a href="#">Privacy policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li>
                            <a href="#">Web Design</a>
                        </li>
                        <li>
                            <a href="#">Web Development</a>
                        </li>
                        <li>
                            <a href="#">Product Management</a>
                        </li>
                        <li>
                            <a href="#">Marketing</a>
                        </li>
                        <li>
                            <a href="#">Graphic Design</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Hic solutasetp</h4>
                    <ul>
                        <li>
                            <a href="#">Molestiae accusamus iure</a>
                        </li>
                        <li>
                            <a href="#">Excepturi dignissimos</a>
                        </li>
                        <li>
                            <a href="#">Suscipit distinctio</a>
                        </li>
                        <li>
                            <a href="#">Dilecta</a>
                        </li>
                        <li>
                            <a href="#">Sit quas consectetur</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Nobis illum</h4>
                    <ul>
                        <li>
                            <a href="#">Ipsam</a>
                        </li>
                        <li>
                            <a href="#">Laudantium dolorum</a>
                        </li>
                        <li>
                            <a href="#">Dinera</a>
                        </li>
                        <li>
                            <a href="#">Trodelas</a>
                        </li>
                        <li>
                            <a href="#">Flexo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <div>
                    © Copyright
                    <strong>
                        <span>MyWebsite</span>
                    </strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ --> Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                <a href="">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>
<!-- Preloader -->
<div id="preloader"></div>
<!-- Vendor JS Files -->
<script src="main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="main/assets/vendor/php-email-form/validate.js"></script>
<script src="main/assets/vendor/aos/aos.js"></script>
<script src="main/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="main/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Main JS File -->
<script src="main/assets/js/main.js"></script>
<script>
      
    </script>
</body>
</html>