@page
@using Locker.Pages
@model ForgotPasswordModel
@{
    Layout = "_MainLayout";
}
<section class="section-basic">
    <div class="shell">
        <div class="section__content">
            <div class="popup popup--alt">
                <h2>Şifremi Unuttum</h2>



                <div class="popup__holder">

                    <div class="js-form form-alt">
                        @using (Html.BeginForm(FormMethod.Post))
                        {


                            <div class="form__row">
                                <div class="form__controls">
                                    <label for="phone" class="sr-only">Telefon</label>

                                    <input class="field-alter" data-validate="true" type="text" name="phone" id="phone"
                                        placeholder="Telefon">

                                    <img src="assets/design/images/svg/phone-3.svg" alt="member" width="14" height="19">
                                </div><!-- /.form__controls -->
                            </div>



                            <!-- /.form__row -->

                            <div class="form__actions">
                                <button type="submit" class="form__btn">Şifremi Sıfırla</button>
                            </div>

                            <!-- /.form__actions -->
                        }
                    </div><!-- /.form-alt -->
                </div><!-- /.popup__holder -->
            </div><!-- /.popup -->
        </div><!-- /.section__content -->
    </div><!-- /.shell -->
</section><!-- /.section-basic -->


</div>
</div>
</section>
