@page 
@using Locker.Pages
@model LoginModel
@{ Layout = "_MainLayout"; }

<section class="section-cargo">
    <div class="shell">

        <div class="section__col">
            <div class="js-form form section__form">
                @using (Html.BeginForm(FormMethod.Post))
                {
                <div class="form__head">
                    <h4 class="level-2">Kullanıcı Girişi</h4><!-- /.level-2 -->

                    <p>*alanların doldurulması zorunludur</p>
                </div>
                <!-- /.form__head -->

                <div class="form__body">
                    <div class="form__row">
                        <label for="phone" class="form__label">Cep Telefonu <span>*</span></label><!-- /.form__label -->

                        <div class="form__controls">
                            <input data-validate="true" type="text" class="js-phone-field field" id="phone" name="phone" placeholder="Telefon numarasını giriniz">

                            <img src="assets/design/images/svg/phone.svg" alt="member" width="40" height="40">
                        </div><!-- /.form__controls -->
                    </div><!-- /.form__row -->
        
                    <div class="form__row">
                        <label for="password" class="form__label">Şifre <span>*</span></label><!-- /.form__label -->

                        <div class="form__controls">
                            <input data-validate="true" type="password" class="field" id="name" name="password" placeholder="Şifre giriniz">

                            <img src="assets/design/images/svg/member.svg" alt="member" width="40" height="40">
                        </div><!-- /.form__controls -->
                    </div><!-- /.form__row -->
                </div>
                <!-- /.form__body -->

                <div class="form__actions">
                    <button type="submit" class="btn btn-success">
                        Giriş Yap
                    </button>
                </div>
                <!-- /.form__actions -->
                }
            </div><!-- /.form section__form -->
        </div><!-- /.section__col -->
    </div>
</section>
