:root {
  --fz-html: 62.5%;
  --fz-html: 50%;
  --fz-base: 2.2rem;
  --fw-base: 400;
  --lh-base: 1.2;
  --ff-base: "Inter", serif;
  --ff-jumbo: "Jumbo Sale Trial", serif;
  --ff-now: "Now", serif;
  --ff-now-alt: "Now Alt", serif;
  --ff-montserrat: "Montserrat", serif;
  --c-base: #4d4d4d;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
}

template {
  display: none;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-size-adjust: none;
}

img,
iframe,
video,
audio,
object {
  max-width: 100%;
}

img,
iframe {
  border: 0 none;
}

img {
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

img,
[style*=background-image] {
  image-rendering: -webkit-optimize-contrast;
}

b,
strong {
  font-weight: bold;
}

address {
  font-style: normal;
}

svg:not(:root) {
  overflow: hidden;
}

a,
button,
input[type=submit],
input[type=button],
input[type=reset],
input[type=file],
input[type=image],
label[for] {
  cursor: pointer;
}

a[href^=tel],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type=button],
input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=color],
textarea,
a[href^=tel] {
  appearance: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  appearance: none;
}

textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

button,
select {
  text-transform: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

nav ul,
nav ol {
  list-style: none outside none;
}

input::placeholder {
  color: inherit;
  opacity: 1;
}

textarea::placeholder {
  color: inherit;
  opacity: 1;
}

input:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

@font-face {
  font-family: "Jumbo Sale Trial";
  src: url("fonts/JumboSaleTrial.woff2") format("woff2"), url("fonts/JumboSaleTrial.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Now";
  src: url("fonts/Now-Bold.woff2") format("woff2"), url("fonts/Now-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Now";
  src: url("fonts/Now-Medium.woff2") format("woff2"), url("fonts/Now-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Now";
  src: url("fonts/Now-Regular.woff2") format("woff2"), url("fonts/Now-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Now Alt";
  src: url("fonts/NowAlt-Regular.woff2") format("woff2"), url("fonts/NowAlt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Now Alt";
  src: url("fonts/NowAlt-Medium.woff2") format("woff2"), url("fonts/NowAlt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Now Alt";
  src: url("fonts/NowAlt-Bold.woff2") format("woff2"), url("fonts/NowAlt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: var(--fz-html);
}

@media (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
}

body {
  min-width: 320px;
  font-family: var(--ff-base);
  font-weight: var(--fw-base);
  font-size: var(--fz-base);
  line-height: var(--lh-base);
  color: var(--c-base);
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: underline;
}

@media (hover: hover) {
  a:where(:hover, :focus-visible) {
    text-decoration: none;
  }
}

a[href^=tel] {
  text-decoration: none;
}

.level-1,
h1,
.level-2,
h2,
.level-3,
h3,
.level-4,
h4,
.level-5,
h5,
.level-6,
h6 {
  margin-bottom: calc(var(--lh-base) * 0.5em);
  font-family: var(--ff-jumbo);
  font-weight: 400;
}

.level-1,
h1 {
  font-size: 4rem;
}

@media (max-width: 767px) {
  .level-1,
  h1 {
    font-size: 2.8rem;
  }
}

.level-2,
h2 {
  font-size: 3.4rem;
}

@media (max-width: 767px) {
  .level-2,
  h2 {
    font-size: 2rem;
  }
}

.level-3,
h3 {
  font-size: 3rem;
  letter-spacing: 0.012em;
}

.level-4,
h4 {
  font-size: 2.9rem;
  font-family: var(-ff-now);
}

.level-5,
h5 {
  font-size: 2.6rem;
  font-family: var(-ff-now);
}

.level-6,
h6 {
  font-size: 2rem;
  font-family: var(-ff-now);
}

p,
ul,
ol,
dl,
hr,
table,
blockquote {
  margin-bottom: calc(var(--lh-base) * 0.5em);
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
  margin-bottom: 0;
}

@keyframes shakeTilt {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  20% {
    transform: rotate(-2deg) translate(-5px, 0);
  }
  40% {
    transform: rotate(2deg) translate(5px, 0);
  }
  60% {
    transform: rotate(0) translate(0, 0);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  40% {
    opacity: 1;
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

[hidden],
.hidden {
  display: none !important;
}

[disabled],
.disabled {
  cursor: default;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline {
    display: inline !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 767.02px) and (max-width: 1023px) {
  .hidden-sm {
    display: none !important;
  }
  .visible-sm-block {
    display: block !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1023.02px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
  .visible-md-block {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1199.02px) {
  .hidden-lg {
    display: none !important;
  }
  .visible-lg-block {
    display: block !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

.btn {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  padding: 1.2rem 2.4rem 1.2rem 3.7rem;
  background-color: #f7aa1a;
  gap: 4.9rem;
  color: #000;
  font-weight: 700;
  font-family: var(--ff-now);
  font-size: 3.6rem;
  -webkit-mask-image: url("images/svg/btn-decoration.svg");
  mask-image: url("images/svg/btn-decoration.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 1023px) {
  .btn {
    font-size: 3.2rem;
  }
}

@media (max-width: 767px) {
  .btn {
    font-size: 1.4rem;
    gap: 1.4rem;
    padding: 1.4rem 1rem 1.2rem;
  }
}

.btn:hover {
  background-color: #ff0000;
  color: #fff;
}

@media (max-width: 1023px) {
  .btn img {
    width: 5rem;
  }
}

@media (max-width: 767px) {
  .btn img {
    width: 2.4rem;
  }
}

.btn--block {
  display: block;
  padding-inline: 0;
}

.grid-flex {
  --grid-gutter: 2rem;
  display: flex;
  flex-flow: row wrap;
  margin-inline: calc(var(--grid-gutter) / 2 * -1);
}

.grid-flex .grid__col {
  --grid-cols: 1;
  padding-inline: var(--grid-gutter);
  max-width: calc(100% / var(--grid-cols));
  flex: 0 0 calc(100% / var(--grid-cols));
}

.grid-flex .grid__col--1of2 {
  --grid-cols: 2;
}

.grid-flex .grid__col--1of3 {
  --grid-cols: 3;
}

.grid-flex .grid__col--1of4 {
  --grid-cols: 4;
}

.grid-flex .grid__col--1of5 {
  --grid-cols: 5;
}

.grid-flex .grid__col--1of6 {
  --grid-cols: 6;
}

.grid {
  --grid-cols: 1;
  --grid-gutter: 2rem;
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: var(--grid-gutter);
}

.grid--size-1of2 {
  --grid-cols: 2;
}

.grid--size-1of3 {
  --grid-cols: 3;
}

.grid--size-1of4 {
  --grid-cols: 4;
}

.grid--size-1of5 {
  --grid-cols: 5;
}

.grid--size-1of6 {
  --grid-cols: 6;
}

.shell {
  --shell-max-width: 140rem;
  --shell-gutter: 2rem;
  max-width: calc(var(--shell-max-width) + var(--shell-gutter) * 2);
  padding-inline: var(--shell-gutter);
  margin-inline: auto;
  width: 100%;
}

.shell--fluid {
  max-width: none;
}

.wrapper {
  position: relative;
  min-height: 100svh;
}

/* ------------------------------------------------------------ *\
	accordion
\* ------------------------------------------------------------ */

.accordion .accordion__head {
  cursor: pointer;
  background-color: #f7aa1a;
  padding: 1.9rem 5rem 1.9rem 1.9rem;
  color: #fff;
  text-align: center;
  position: relative;
}

@media (max-width: 767px) {
  .accordion .accordion__head {
    text-align: left;
    padding: 1.6rem 3rem 1.6rem 1.6rem;
  }
}

.accordion .accordion__head:before {
  content: "+";
  position: absolute;
  right: 4rem;
  top: 50%;
  font-size: 8.6rem;
  transform: translateY(-50%);
  margin-top: -0.6rem;
  font-family: var(--ff-jumbo);
}

@media (max-width: 1023px) {
  .accordion .accordion__head:before {
    font-size: 7rem;
    margin-top: -0.3rem;
  }
}

@media (max-width: 767px) {
  .accordion .accordion__head:before {
    right: 1.6rem;
    font-size: 5.2rem;
  }
}

.accordion .accordion__head h3 {
  font-size: 3.2rem;
}

@media (max-width: 1023px) {
  .accordion .accordion__head h3 {
    font-size: 2.6rem;
  }
}

@media (max-width: 767px) {
  .accordion .accordion__head h3 {
    font-size: 2rem;
  }
}

.accordion .accordion__body {
  max-width: 116rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
}

.accordion .accordion__content {
  overflow: hidden;
  transition: padding 0.3s ease-in-out;
}

.accordion .accordion__inner {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

@media (max-width: 1023px) {
  .accordion .accordion__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}

@media (max-width: 767px) {
  .accordion .accordion__inner {
    gap: 2rem;
  }
}

.accordion .accordion__inner > img {
  width: 7.2rem;
  max-width: 7.2rem;
}

@media (max-width: 1023px) {
  .accordion .accordion__inner > img {
    transform: rotate(90deg);
  }
}

@media (max-width: 767px) {
  .accordion .accordion__inner > img {
    width: 4.4rem;
    height: 4.4rem;
  }
}

.accordion .accordion__col {
  flex: 1 1 auto;
}

@media (max-width: 1023px) {
  .accordion .accordion__col {
    width: 100%;
    max-width: 100%;
  }
}

.accordion .is-open .accordion__head:before {
  content: "-";
}

.accordion .is-open .accordion__body {
  grid-template-rows: 1fr;
}

.accordion .is-open .accordion__content {
  padding: 10rem 0 0;
}

@media (max-width: 1023px) {
  .accordion .is-open .accordion__content {
    padding: 6rem 0 0;
  }
}

@media (max-width: 767px) {
  .accordion .is-open .accordion__content {
    padding: 4.2rem 0 0;
  }
}

.accordion--adjust .accordion__body {
  max-width: 100%;
}

/* ------------------------------------------------------------ *\
	checkbox-alt
\* ------------------------------------------------------------ */

.checkbox-alt {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: var(--ff-now-alt);
}

@media (max-width: 767px) {
  .checkbox-alt {
    font-size: 2rem;
  }
}

@media (max-width: 374px) {
  .checkbox-alt {
    font-size: 1.4rem;
  }
}

.checkbox-alt input {
  display: none;
}

.checkbox-alt label {
  display: block;
  position: relative;
  padding-right: 5rem;
}

.checkbox-alt label:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.2rem;
  height: 3.2rem;
  border: 0.1rem solid #333333;
  border-radius: 0.6rem;
}

@media (max-width: 767px) {
  .checkbox-alt label:before {
    width: 2.8rem;
    height: 2.8rem;
  }
}

.checkbox-alt label:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0.9rem;
  right: 0.5rem;
  width: 2.2rem;
  height: 1.5rem;
  background-image: url("images/svg/check-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
}

@media (max-width: 767px) {
  .checkbox-alt label:after {
    width: 1.9rem;
    height: 1.3rem;
    top: 0.8rem;
    right: 0.4rem;
  }
}

.checkbox-alt input:checked + label:before {
  background-color: #4d4d4d;
}

.checkbox-alt.is-error {
  color: #E14137;
}

.checkbox-alt--yellow-background {
  margin-top: 3rem;
}

.checkbox-alt--yellow-background label a {
  color: #fff;
  font-family: var(--ff-now);
  padding: 0.5rem 0.8rem 0.8rem;
  background-color: #f7aa1a;
  font-weight: 700;
  letter-spacing: 0.06em;
  -webkit-mask-image: url("images/svg/checkbox-decoration.svg");
  mask-image: url("images/svg/checkbox-decoration.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

@media (max-width: 374px) {
  .checkbox-alt--yellow-background label a {
    font-size: 1.4rem;
  }
}

.checkbox-alt--yellow-background.is-error label a {
  background-color: #E14137;
}

/* ------------------------------------------------------------ *\
	checkbox
\* ------------------------------------------------------------ */

.checkbox {
  border: 0.2rem dashed #4d4d4d;
  text-align: center;
  padding: 8.1rem 2rem 1.3rem;
  position: relative;
  color: #4d4d4d;
  font-family: var(-ff-now);
  font-size: 4.2rem;
  font-weight: 700;
  display: grid;
  grid-row: span 2;
  grid-template-rows: subgrid;
  gap: 0;
}

@media (max-width: 1199px) {
  .checkbox {
    font-size: 3.6rem;
  }
}

@media (max-width: 767px) {
  .checkbox {
    font-size: 2.8rem;
    padding-top: 5rem;
    padding-bottom: 1.8rem;
  }
}

.checkbox .checkbox__discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: none;
}

@media (max-width: 767px) {
  .checkbox .checkbox__discount {
    width: 2.4rem;
  }
}

@media (max-width: 767px) {
  .checkbox .checkbox__image {
    display: none;
  }
}

.checkbox:has(input:checked) {
  border-color: #3bb76f;
}

.checkbox input {
  display: none;
}

.checkbox label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.checkbox label:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  border: 0.1rem solid #4d4d4d;
}

@media (max-width: 767px) {
  .checkbox label:before {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.checkbox label:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2.2rem;
  height: 1.6rem;
  background-image: url("images/svg/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

@media (max-width: 767px) {
  .checkbox label:after {
    width: 1.3rem;
    height: 0.9rem;
    top: 1.4rem;
  }
}

.checkbox input:checked + label:after {
  opacity: 1;
}

@media (max-width: 1199px) {
  .checkbox .checkbox__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.checkbox .checkbox__price {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  justify-content: center;
}

.checkbox .checkbox__price-old {
  position: relative;
  font-size: 3.4rem;
  display: none;
}

@media (max-width: 1199px) {
  .checkbox .checkbox__price-old {
    font-size: 2.8rem;
  }
}

@media (max-width: 767px) {
  .checkbox .checkbox__price-old {
    font-size: 2.1rem;
  }
}

.checkbox .checkbox__price-old:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 2rem;
  left: -0.2rem;
  right: -0.2rem;
  height: 0.4rem;
  background-color: #ff0000;
  transform: rotate(-19deg);
}

@media (max-width: 1023px) {
  .checkbox .checkbox__price-old:before {
    height: 0.3rem;
    bottom: 1rem;
  }
}

.checkbox .checkbox__quantity {
  position: relative;
  z-index: 10;
}

.checkbox .checkbox__quantity-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.checkbox .checkbox__quantity-entry a {
  text-decoration: none;
}

.checkbox.have-discount .checkbox__discount {
  display: block;
}

.checkbox.have-discount .checkbox__price-old {
  display: inline-block;
}

/* ------------------------------------------------------------ *\
	list-checkboxes
\* ------------------------------------------------------------ */

.checkboxes {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: repeat(auto auto);
}

@media (max-width: 1023px) {
  .checkboxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1023px) {
  .checkboxes .checkbox:nth-last-child(1) {
    grid-column: span 2;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
  }
}

/* ------------------------------------------------------------ *\
	field
\* ------------------------------------------------------------ */

.field {
  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 1.2rem;
  border: 0.1rem solid #000000;
  height: 8rem;
  padding: 0 2rem 0 9.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: var(--ff-now-alt);
}

@media (max-width: 767px) {
  .field {
    height: 6.4rem;
    font-size: 1.8rem;
    padding-left: 7.8rem;
  }
}

.field::placeholder {
  color: #afafaf;
}

/* ------------------------------------------------------------ *\
	footer
\* ------------------------------------------------------------ */

.footer {
  padding: 6.5rem 0 3rem;
}

@media (max-width: 1199px) {
  .footer {
    padding: 4rem 0 1rem;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 2.8rem 0 0;
  }
}

.footer .footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 134rem;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .footer .footer__inner {
    flex-wrap: wrap;
  }
}

@media (max-width: 575px) {
  .footer .footer__inner {
    gap: 1rem;
  }
}

@media screen and (max-width: 383px) {
  .footer .footer__inner {
    gap: 0.5rem;
  }
}

.footer .footer__list-links {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .footer .footer__list-links {
    width: 100%;
  }
}

@media screen and (max-width: 383px) {
  .footer .footer__list-links {
    margin: 0;
  }
}

.footer .footer__logo {
  margin-left: -2rem;
}

@media (max-width: 1023px) {
  .footer .footer__logo {
    order: 0;
  }
}

@media (max-width: 767px) {
  .footer .footer__logo {
    width: 12rem;
  }
}

@media screen and (max-width: 383px) {
  .footer .footer__logo {
    width: 10rem;
  }
}

@media (max-width: 1023px) {
  .footer .footer__list-links-alt {
    order: 1;
  }
}

@media (max-width: 1023px) {
  .footer .footer__wrapper {
    width: 100%;
    order: 2;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .footer .footer__wrapper {
    width: calc(100% + 4rem);
    margin: 0 -2rem;
  }
}

@media screen and (max-width: 383px) {
  .footer .footer__wrapper {
    justify-content: flex-start;
  }
}

/* ------------------------------------------------------------ *\
	form
\* ------------------------------------------------------------ */

.form .form__head {
  margin-bottom: 3.6rem;
  font-family: var(--ff-now);
  letter-spacing: 0.01em;
}

@media (max-width: 1023px) {
  .form .form__head {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .form .form__head {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
}

.form .level-2 {
  font-size: 3.4rem;
  font-weight: 500;
  font-family: var(--ff-now-alt);
  margin-bottom: 0.8rem;
  color: #4d4d4d;
  letter-spacing: 0;
}

@media (max-width: 767px) {
  .form .level-2 {
    font-size: 2.8rem;
  }
}

.form .form__row ~ .form__row {
  margin-top: 3.6rem;
}

@media (max-width: 767px) {
  .form .form__row ~ .form__row {
    margin-top: 2.6rem;
  }
}

.form .form__label {
  display: flex;
  align-self: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
  font-size: 2.9rem;
  font-weight: 500;
  font-family: var(--ff-now);
  transition: color 0.3s;
}

@media (max-width: 767px) {
  .form .form__label {
    font-size: 2.4rem;
  }
}

.form .form__controls {
  position: relative;
}

.form .form__controls img {
  position: absolute;
  left: 2rem;
  top: 1.5rem;
}

@media (max-width: 767px) {
  .form .form__controls img {
    width: 4.2rem;
    height: 4.2rem;
    left: 1.8rem;
    top: 1.2rem;
  }
}

.form .form__row > strong {
  display: flex;
  align-self: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
  font-size: 2.9rem;
  font-weight: 500;
  font-family: var(--ff-now);
}

.form .form__actions {
  margin-top: 3.6rem;
}

@media (max-width: 1023px) {
  .form .form__actions {
    text-align: center;
    margin-top: 6rem;
  }
}

.form .is-error .form__label {
  color: #E14137;
}

.form .is-error input {
  border-color: #E14137;
}

.form .form__btn {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

/* ------------------------------------------------------------ *\
	header
\* ------------------------------------------------------------ */

.header {
  padding: 3rem 0 2rem;
}

@media (max-width: 1023px) {
  .header {
    padding: 0 0 2rem;
  }
}

.header .header__bar {
  display: none;
}

@media (max-width: 1023px) {
  .header .header__bar {
    display: block;
    background-color: #e4e4e4;
    padding: 2rem 2rem;
    margin: 0 -2rem 2rem;
  }
}

@media (max-width: 767px) {
  .header .header__bar {
    padding: 1.4rem 2rem;
    margin-bottom: 2.3rem;
  }
}

@media (max-width: 1023px) {
  .header .header__nav-accounts-mobile {
    padding: 0;
  }
}

.header .header__socials {
  max-width: 20rem;
}

@media (max-width: 1023px) {
  .header .header__socials {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .header .header__socials {
    max-width: 12rem;
    text-align: right;
    margin-top: -1rem;
  }
}

@media (max-width: 1023px) {
  .header .header__socials li:nth-child(3) {
    display: none;
  }
}

.header .header__socials-mobile {
  display: none;
}

@media (max-width: 1023px) {
  .header .header__socials-mobile {
    display: block;
  }
}

@media (max-width: 1023px) {
  .header .header__socials-mobile ul img {
    width: 9rem;
  }
}

@media (max-width: 767px) {
  .header .header__socials-mobile ul img {
    width: 7rem;
  }
}

.header .header__intro {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;
  isolation: isolate;
}

@media (max-width: 1023px) {
  .header .header__intro {
    margin-bottom: 2rem;
    align-items: center;
  }
}

.header .header__decoration {
  position: absolute;
  top: 1rem;
  right: 14%;
  width: 25rem;
  z-index: -1;
  transform: rotateY(180deg);
}

@media (max-width: 1023px) {
  .header .header__decoration {
    top: 8.4rem;
    width: 15rem;
    right: unset;
    left: 32vw;
    display: none;
  }
}

.header .header__decoration--adjust {
  transform: rotateY(0);
  right: unset;
  left: 14%;
}

@media (max-width: 1023px) {
  .header .header__decoration--adjust {
    left: unset;
    right: 32vw;
  }
}

.header .header__logo {
  margin-left: -6.6rem;
}

@media (max-width: 1023px) {
  .header .header__logo {
    width: 22rem;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .header .header__logo {
    width: 18rem;
  }
}

@media (max-width: 575px) {
  .header .header__logo {
    width: 18rem;
  }
}

.header .header__holder {
  display: none;
  position: relative;
}

@media (max-width: 1023px) {
  .header .header__holder {
    margin: 0 auto;
    display: block;
  }
}

.header .header__decoration-mobile {
  display: none;
}

@media (max-width: 1023px) {
  .header .header__decoration-mobile {
    display: inline-block;
    position: absolute;
    top: -4rem;
    width: 20rem;
    z-index: -1;
    transform: rotateY(180deg);
    left: 50%;
    margin-left: -30rem;
    pointer-events: none;
  }
}

@media (max-width: 767px) {
  .header .header__decoration-mobile {
    width: 15rem;
    margin-left: -20rem;
    top: -3rem;
  }
}

@media (max-width: 575px) {
  .header .header__decoration-mobile {
    width: 12rem;
    top: -1.5rem;
    margin-left: -17rem;
  }
}

@media (max-width: 374px) {
  .header .header__decoration-mobile {
    width: 10rem;
    margin-left: -14rem;
  }
}

@media (max-width: 1023px) {
  .header .header__decoration-mobile--adjust {
    transform: none;
    margin: 0 -30rem 0 0;
    left: unset;
    right: 50%;
  }
}

@media (max-width: 1023px) and (max-width: 767px) {
  .header .header__decoration-mobile--adjust {
    margin-right: -20rem;
  }
}

@media (max-width: 1023px) and (max-width: 575px) {
  .header .header__decoration-mobile--adjust {
    margin-right: -17rem;
  }
}

@media (max-width: 1023px) and (max-width: 374px) {
  .header .header__decoration-mobile--adjust {
    margin-right: -14rem;
  }
}

.header .header__nav-trigger {
  display: none;
}

@media (max-width: 1023px) {
  .header .header__nav-trigger {
    display: flex;
    text-align: center;
    margin: 0 auto;
  }
}

.header .header__wrapper {
  max-width: 126.7rem;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .header .header__wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
  }
}

@media (max-width: 1023px) {
  .header .header__wrapper-content {
    overflow: hidden;
    transition: padding 0.3s ease-in-out;
  }
}

@media (max-width: 1023px) {
  .header .header__nav-accounts {
    display: none;
  }
}

@media (max-width: 1023px) {
  .header.menu-visible .header__wrapper {
    grid-template-rows: 1fr;
  }
}

@media (max-width: 1023px) {
  .header.menu-visible .header__wrapper-content {
    padding: 3rem 0 0;
  }
}

.header.menu-visible .header__nav-trigger span {
  transition: transform 0.3s 0.3s, top 0.3s, opacity 0.3s;
}

.header.menu-visible .header__nav-trigger span:nth-child(1) {
  top: 0.8rem;
  transform: rotate(45deg);
}

.header.menu-visible .header__nav-trigger span:nth-child(2) {
  opacity: 0;
}

.header.menu-visible .header__nav-trigger span:nth-child(3) {
  top: 0.8rem;
  transform: rotate(-45deg);
}

/* ------------------------------------------------------------ *\
	list-checkboxes
\* ------------------------------------------------------------ */

.list-checkboxes {
  list-style-type: none;
}

.list-checkboxes li ~ li {
  margin-top: 2.1rem;
}

/* ------------------------------------------------------------ *\
	list-links-alt
\* ------------------------------------------------------------ */

.list-links-alt {
  list-style: none;
  display: flex;
  color: #fff;
  align-items: center;
  font-size: 2.9rem;
  font-family: var(--ff-now);
  font-weight: 700;
}

@media (max-width: 1023px) {
  .list-links-alt {
    font-size: 2.2rem;
  }
}

@media (max-width: 767px) {
  .list-links-alt {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .list-links-alt {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 383px) {
  .list-links-alt {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .list-links-alt li a img {
    width: 9rem;
  }
}

@media screen and (max-width: 383px) {
  .list-links-alt li a img {
    width: 7.6rem;
  }
}

.list-links-alt a {
  display: block;
  padding: 0.9rem 0.8rem;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.list-links-alt li:nth-child(2) a:before {
  content: "";
  position: absolute;
  top: -2rem;
  right: -2.5rem;
  width: 2.4rem;
  height: 15rem;
  background-color: #f7aa1a;
  transform: rotate(-11deg);
  pointer-events: none;
}

.list-links-alt li:nth-child(2) a {
  background-color: #e14137;
  padding: 0.9rem 0.8rem 0.9rem 0.8rem;
}

.list-links-alt li:nth-child(3) a {
  background-color: #f7aa1a;
  padding: 0.9rem 0.8rem 0.9rem 0.1rem;
}

/* ------------------------------------------------------------ *\
	list-links
\* ------------------------------------------------------------ */

.list-links {
  list-style: none;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  font-size: 1.6rem;
  font-family: var(--ff-montserrat);
  font-weight: 500;
}

@media (max-width: 767px) {
  .list-links {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 575px) {
  .list-links {
    font-size: 1.1rem;
  }
}

.list-links a {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #e14137;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

@media (max-width: 767px) {
  .list-links a {
    display: block;
  }
}

@media (max-width: 575px) {
  .list-links a {
    padding: 0.6rem 2.3rem 0.6rem 1.6rem;
  }
}

.list-links li:nth-child(3) {
  margin-top: -0.5rem;
}

@media (max-width: 767px) {
  .list-links li:nth-child(3) {
    margin: 0;
  }
}

.list-links li:nth-child(1) a:before {
  content: "";
  position: absolute;
  top: -2rem;
  right: -1.6rem;
  width: 2rem;
  height: 8rem;
  background-color: #f7aa1a;
  transform: rotate(-23deg);
}

@media (max-width: 575px) {
  .list-links li:nth-child(1) a:before {
    width: 2.5rem;
  }
}

.list-links li:nth-child(2) a {
  background-color: #f7aa1a;
  padding: 0.6rem 0.5rem 0.6rem 0rem;
}

@media (max-width: 575px) {
  .list-links li:nth-child(2) a {
    padding: 0.6rem 1.5rem 0.6rem 0rem;
  }
}

.list-links li:nth-child(3) a {
  background-color: #1b9da1;
  padding: 0.6rem 3rem 0.6rem 1.6rem;
}

.list-links li:nth-child(3) a:before {
  content: "";
  position: absolute;
  top: -2rem;
  right: -2.4rem;
  width: 3rem;
  height: 8rem;
  background-color: #fff;
  transform: rotate(-32deg);
}

.list-links li.full-width {
  grid-column: span 2;
}

@media (max-width: 767px) {
  .list-links li.full-width {
    flex: 1 1 auto;
  }
}

/* ------------------------------------------------------------ *\
	list-steps
\* ------------------------------------------------------------ */

.list-steps {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 6.2rem;
  padding: 2rem 5.8rem;
  background-color: #1b9da1;
  color: #fff;
  font-size: 2.6rem;
  font-weight: 700;
  font-family: var(--ff-now);
}

@media screen and (max-width: 1400px) {
  .list-steps {
    font-size: 2.4rem;
    gap: 2rem 4rem;
  }
}

@media (max-width: 1023px) {
  .list-steps {
    font-size: 1.8rem;
    gap: 2rem 3rem;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .list-steps {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    gap: 1.8rem 1.6rem;
  }
}

.list-steps li:not(:nth-child(1)) {
  position: relative;
  padding-left: 13rem;
}

@media screen and (max-width: 1400px) {
  .list-steps li:not(:nth-child(1)) {
    padding-left: 8rem;
  }
}

@media (max-width: 1023px) {
  .list-steps li:not(:nth-child(1)) {
    padding-left: 6rem;
  }
}

@media (max-width: 767px) {
  .list-steps li:not(:nth-child(1)) {
    padding-left: 4.8rem;
  }
}

.list-steps li:not(:nth-child(1)):before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0.4rem;
  width: 6.8rem;
  height: 2.8rem;
  background-image: url("images/svg/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1400px) {
  .list-steps li:not(:nth-child(1)):before {
    width: 4.8rem;
    height: 2.2rem;
  }
}

@media (max-width: 1023px) {
  .list-steps li:not(:nth-child(1)):before {
    width: 3.6rem;
    height: 2.2rem;
  }
}

@media (max-width: 767px) {
  .list-steps li:not(:nth-child(1)):before {
    width: 3.2rem;
    height: 1.4rem;
    top: 0.2rem;
  }
}

.list-steps li span {
  opacity: 0.7;
}

.list-steps li.is-active span {
  opacity: 1;
}

/* ------------------------------------------------------------ *\
	loader
\* ------------------------------------------------------------ */

.loader {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 0.5rem solid #1b9da1;
  border-top-color: transparent;
  animation: spin 1.4s linear infinite;
}

@media (max-width: 767px) {
  .loader {
    width: 4rem;
    height: 4rem;
  }
}

/* ------------------------------------------------------------ *\
	loading-wrapper
\* ------------------------------------------------------------ */

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 101svh;
  z-index: 1000;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.loading-wrapper .loading__content {
  text-align: center;
}

.loading-wrapper .loading__image {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .loading-wrapper .loading__image img {
    width: 24rem;
  }
}

.loading-wrapper.page-loaded {
  opacity: 0;
  pointer-events: none;
}

.loading-wrapper.hidden {
  display: none;
}

/* ------------------------------------------------------------ *\
	logo
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	map
\* ------------------------------------------------------------ */

.map .level-2 {
  text-align: center;
  margin-bottom: 2.4rem;
  color: #4d4d4d;
  font-family: var(--ff-now-alt);
  font-weight: 500;
}

@media (max-width: 767px) {
  .map .level-2 {
    margin-bottom: 0.8rem;
  }
}

.map .map__image {
  position: relative;
  aspect-ratio: 1160/750;
  overflow: hidden;
}

.map .map__image img,
.map .map__image iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map .map__meta {
  margin-top: 0.6rem;
  text-align: center;
  background-color: #1b9da1;
  padding: 1.2rem;
  color: #fff;
  font-family: var(--ff-now);
  font-size: 2.9rem;
  font-weight: 700;
}

@media (max-width: 1023px) {
  .map .map__meta {
    font-size: 2.4rem;
  }
}

@media (max-width: 767px) {
  .map .map__meta {
    font-size: 1.8rem;
    padding: 0.8rem 1rem;
  }
}

.map .map__meta strong {
  display: block;
}

.map .map__meta--red {
  background-color: #e14137;
}

/* ------------------------------------------------------------ *\
	meta-map
\* ------------------------------------------------------------ */

.meta-map {
  padding: 3.2rem;
  border: 0.2rem dashed #373737;
}

@media (max-width: 767px) {
  .meta-map {
    padding: 1.2rem;
  }
}

.meta-map .meta__bar ~ .meta__bar {
  margin-top: 0.8rem;
}

.meta-map .meta__bar {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  font-family: var(--ff-now);
  text-align: center;
  padding: 1.2rem 2rem;
  margin: 0 -3.2rem;
  background-color: #1b9da1;
}

@media (max-width: 1023px) {
  .meta-map .meta__bar {
    font-size: 2.6rem;
  }
}

@media (max-width: 767px) {
  .meta-map .meta__bar {
    margin: 0 -1.2rem;
    font-size: 1.4rem;
  }
}

.meta-map .meta__bar--red {
  background-color: #e14137;
}

.meta-map .meta__content {
  max-width: 78rem;
  margin: 3.2rem auto 0;
}

@media (max-width: 1023px) {
  .meta-map .meta__content {
    max-width: 72%;
  }
}

@media (max-width: 767px) {
  .meta-map .meta__content {
    max-width: 69.09%;
  }
}

@media (max-width: 374px) {
  .meta-map .meta__content {
    max-width: 80%;
  }
}

.meta-map .meta__image-placeholder {
  position: relative;
  width: 100%;
  aspect-ratio: 780/530;
  border: 0.2rem dashed #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0000;
  font-weight: 700;
  font-size: 3.4rem;
  margin-bottom: 3.2rem;
  font-family: var(--ff-now);
}

@media (max-width: 1023px) {
  .meta-map .meta__image-placeholder {
    font-size: 3rem;
    margin-bottom: 2.6rem;
  }
}

@media (max-width: 767px) {
  .meta-map .meta__image-placeholder {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }
}

.meta-map .meta__image-placeholder img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meta-map .meta__actions {
  text-align: center;
}

/* ------------------------------------------------------------ *\
	nav-accounts
\* ------------------------------------------------------------ */

.nav-accounts {
  position: relative;
  padding: 1.5rem 1.4rem 1.5rem 0;
  color: #555555;
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  font-weight: 700;
  font-size: 1.6rem;
  text-align: right;
}

@media (max-width: 1023px) {
  .nav-accounts {
    font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  .nav-accounts {
    font-size: 1.2rem;
  }
}

@media (max-width: 374px) {
  .nav-accounts {
    font-size: 1rem;
  }
}

.nav-accounts .nav__decoration {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.nav-accounts > ul {
  position: relative;
  z-index: 2;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3.9rem;
}

@media (max-width: 1023px) {
  .nav-accounts > ul {
    flex-direction: row;
    gap: 1rem 0;
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .nav-accounts > ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 1023px) {
  .nav-accounts > ul > li ~ li {
    margin-left: 1.5rem;
    position: relative;
  }
  .nav-accounts > ul > li ~ li:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -0.8rem;
    top: 0.3rem;
    height: 1rem;
    width: 0.2rem;
    background-color: #555555;
  }
}

@media (max-width: 1023px) and (max-width: 767px) {
  .nav-accounts > ul > li ~ li:before {
    left: -0.6rem;
    height: 0.8rem;
  }
}

@media (max-width: 767px) {
  .nav-accounts > ul > li ~ li {
    margin-left: 1.1rem;
  }
}

.nav-accounts > ul a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-accounts > ul a:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: calc(100% + 0.1rem);
  width: 0;
  height: 0.1rem;
  background-color: #555555;
  transition: width 0.3s ease-in-out;
}

.nav-accounts > ul a:hover:before {
  width: 100%;
}

/* ------------------------------------------------------------ *\
	nav-trigger
\* ------------------------------------------------------------ */

.nav-trigger {
  display: flex;
  position: relative;
  width: 4.5rem;
  height: 2.8rem;
}

.nav-trigger span {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0.4rem;
  background-color: #f7aa1a;
  transition: transform 0.3s, top 0.3s 0.3s, opacity 0.3s 0.3s;
}

.nav-trigger span:nth-child(2) {
  top: 50%;
}

.nav-trigger span:nth-child(3) {
  top: 100%;
}

/* ------------------------------------------------------------ *\
	nav
\* ------------------------------------------------------------ */

.nav {
  font-weight: 700;
  font-size: 1.9rem;
  color: #555558;
  font-family: var(--ff-now);
  text-align: center;
  text-wrap: balance;
  line-height: 1.469;
}

@media (max-width: 767px) {
  .nav {
    font-size: 1.7rem;
  }
}

.nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3.8rem;
}

@media screen and (max-width: 1260px) {
  .nav > ul {
    justify-content: center;
  }
}

@media (max-width: 1023px) {
  .nav > ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  max-width: 15.2rem;
}

@media (max-width: 1023px) {
  .nav > ul > li {
    max-width: 100%;
    display: block;
    width: 100%;
  }
}

.nav > ul > li ~ li {
  position: relative;
}

.nav > ul > li ~ li:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -1.5rem;
  top: 0;
  height: 100%;
  width: 0.1rem;
  background-color: #000;
}

@media (max-width: 1023px) {
  .nav > ul > li ~ li:before {
    display: none;
  }
}

.nav > ul > li:nth-child(2):before {
  left: 0.1rem;
}

.nav > ul > li:nth-child(3):before {
  left: -0.9rem;
}

.nav > ul > li:nth-child(4):before {
  left: -2.4rem;
}

.nav > ul > li:nth-child(5):before {
  left: -1.8rem;
}

.nav > ul > li:nth-child(6):before {
  left: -1.4rem;
}

.nav > ul > li:nth-child(7):before {
  left: -2.4rem;
}

.nav > ul > li:nth-child(8):before {
  left: -1.2rem;
}

.nav > ul > li > a {
  text-decoration: none;
  display: block;
  isolation: isolate;
  position: relative;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 1023px) {
  .nav > ul > li > a {
    padding: 1rem;
  }
}

.nav > ul > li > a:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -1.5rem;
  right: -1.5rem;
  top: -1.5rem;
  bottom: -1.5rem;
  background-color: #e14137;
  -webkit-mask-image: url("images/svg/nav-decoration-red.svg");
  mask-image: url("images/svg/nav-decoration-red.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 1023px) {
  .nav > ul > li > a:before {
    mask-image: none;
    -webkit-mask-image: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.nav > ul > li:nth-child(2) {
  padding-left: 2.7rem;
}

@media (max-width: 1023px) {
  .nav > ul > li:nth-child(2) {
    padding-left: 0;
  }
}

.nav > ul > li:nth-child(2) > a:before {
  background-color: #f7aa1a;
  -webkit-mask-image: url("images/svg/nav-decoration-yellow.svg");
  mask-image: url("images/svg/nav-decoration-yellow.svg");
}

@media (max-width: 1023px) {
  .nav > ul > li:nth-child(2) > a:before {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

.nav > ul > li:nth-child(3) > a:before {
  left: 0;
  right: 0;
  background-color: #1b9da1;
  -webkit-mask-image: url("images/svg/nav-decoration-blue.svg");
  mask-image: url("images/svg/nav-decoration-blue.svg");
}

@media (max-width: 1023px) {
  .nav > ul > li:nth-child(3) > a:before {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

.nav > ul > li:nth-child(4) > a:before {
  left: -0.9rem;
  right: -0.9rem;
  background-color: #e14137;
  -webkit-mask-image: url("images/svg/nav-decoration-red2.svg");
  mask-image: url("images/svg/nav-decoration-red2.svg");
}

@media (max-width: 1023px) {
  .nav > ul > li:nth-child(4) > a:before {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

.nav > ul > li:nth-child(5) > a:before {
  left: -0.9rem;
  right: -0.9rem;
  background-color: #f7aa1a;
  -webkit-mask-image: url("images/svg/nav-decoration-yellow2.svg");
  mask-image: url("images/svg/nav-decoration-yellow2.svg");
}

@media (max-width: 1023px) {
  .nav > ul > li:nth-child(5) > a:before {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

.nav > ul > li:nth-child(6) > a:before {
  left: 0;
  right: 0;
  background-color: #1b9da1;
  -webkit-mask-image: url("images/svg/nav-decoration-blue2.svg");
  mask-image: url("images/svg/nav-decoration-blue2.svg");
}

@media (max-width: 1023px) {
  .nav > ul > li:nth-child(6) > a:before {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

.nav > ul > li:nth-child(7) > a:before {
  background-color: #e14137;
  -webkit-mask-image: url("images/svg/nav-decoration-red3.svg");
  mask-image: url("images/svg/nav-decoration-red3.svg");
}

@media (max-width: 1023px) {
  .nav > ul > li:nth-child(7) > a:before {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

.nav > ul > li:nth-child(8) > a:before {
  left: 0;
  right: 0;
  background-color: #f7aa1a;
  -webkit-mask-image: url("images/svg/nav-decoration-yellow3.svg");
  mask-image: url("images/svg/nav-decoration-yellow3.svg");
}

@media (max-width: 1023px) {
  .nav > ul > li:nth-child(8) > a:before {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

@media (max-width: 1023px) {
  .nav > ul > li > a br {
    display: none;
  }
}

.nav > ul > li > a:hover {
  color: #fff;
}

.nav > ul > li > a:hover:before {
  opacity: 1;
}

.nav > ul > li.is-current > a {
  color: #fff;
}

.nav > ul > li.is-current > a:before {
  opacity: 1;
}

/* ------------------------------------------------------------ *\
	radio
\* ------------------------------------------------------------ */

.radio input {
  display: none;
}

.radio label {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  font-size: 2.2rem;
  font-weight: 400;
  font-family: var(--ff-now-alt);
  text-align: center;
  border-radius: 0.6rem;
  border: 0.16rem solid #1a1a1a;
  transition: color 0.3s, background-color 0.3s;
}

@media (max-width: 767px) {
  .radio label {
    font-size: 1.8rem;
  }
}

.radio label span {
  display: block;
  line-height: 1;
}

.radio input:checked + label {
  background-color: #4d4d4d;
  color: #fff;
}

/* ------------------------------------------------------------ *\
	radios
\* ------------------------------------------------------------ */

.radios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

/* ------------------------------------------------------------ *\
	section-cargo
\* ------------------------------------------------------------ */

.section-cargo {
  padding: 2rem 0 4.8rem;
}

.section-cargo .section__list-steps {
  margin-bottom: 4.8rem;
}

@media (max-width: 1023px) {
  .section-cargo .section__list-steps {
    margin-bottom: 3rem;
  }
}

.section-cargo .section__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11.2rem;
  margin-bottom: 5.9rem;
}

@media (max-width: 1023px) {
  .section-cargo .section__intro {
    flex-direction: column;
    gap: 6rem;
  }
}

.section-cargo .section__image-left {
  opacity: 0;
}

@media (max-width: 1023px) {
  .section-cargo .section__image-left {
    order: 1;
  }
}

@media (max-width: 1023px) {
  .section-cargo .section__image-right {
    order: 0;
  }
}

@media (max-width: 1023px) {
  .section-cargo .section__content h1 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .section-cargo .section__content h1 {
    margin-bottom: 1.6rem;
  }
}

.section-cargo .section__checkboxes {
  margin-bottom: 4.8rem;
}

@media (max-width: 1023px) {
  .section-cargo .section__checkboxes {
    margin-bottom: 3rem;
  }
}

@media (max-width: 1023px) {
  .section-cargo .section__entry {
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .section-cargo .section__entry {
    font-size: 1.4rem;
  }
}

.section-cargo .section__image-left.is-visible {
  animation: bounce-in 1.6s ease;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

/* ------------------------------------------------------------ *\
	section-simple
\* ------------------------------------------------------------ */

.section-simple {
  padding: 4rem 0 5rem;
  position: relative;
}

@media (max-width: 767px) {
  .section-simple {
    padding: 3rem 0;
  }
}

.section-simple:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120rem;
  border-top: 0.3rem dashed #9a9a9a;
}

@media screen and (max-width: 1240px) {
  .section-simple:before {
    transform: none;
    left: 2rem;
    right: 2rem;
    width: auto;
  }
}

.section-simple .section__accordion {
  margin-bottom: 3.6rem;
}

@media (max-width: 767px) {
  .section-simple .section__accordion {
    margin-bottom: 2.4rem;
  }
}

@media (max-width: 1023px) {
  .section-simple .section__accordion .accordion__head {
    margin: 0 -2rem;
  }
}

.section-simple .section__content:not(:last-child) {
  margin-bottom: 10.5rem;
}

@media (max-width: 1023px) {
  .section-simple .section__content:not(:last-child) {
    margin-bottom: 7rem;
  }
}

.section-simple .section__content--adjust {
  max-width: 116rem;
  margin: 0 auto;
}

.section-simple .section__cols {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

@media (max-width: 1023px) {
  .section-simple .section__cols {
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .section-simple .section__cols {
    gap: 3rem;
  }
}

.section-simple .section__col {
  flex: 1 1 auto;
}

@media (max-width: 1023px) {
  .section-simple .section__col {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1023px) {
  .section-simple .section__col-alt img {
    transform: rotate(90deg);
  }
}

@media (max-width: 767px) {
  .section-simple .section__col-alt img {
    width: 4.4rem;
  }
}

.section-simple .section__form {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .section-simple .section__form {
    max-width: 100%;
  }
}

.section-simple .section__foot {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  align-items: center;
  color: #000;
  font-family: var(--ff-now);
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 1023px) {
  .section-simple .section__foot {
    font-size: 2.2rem;
    gap: 2rem;
  }
}

@media (max-width: 767px) {
  .section-simple .section__foot {
    font-size: 1.6rem;
  }
}

.section-simple .section__foot p {
  margin-bottom: 0;
}

.section-simple .section__foot a {
  font-weight: 400;
}

@media (max-width: 767px) {
  .section-simple .section__foot a {
    text-wrap: balance;
    font-size: 1.4rem;
  }
}

.section-simple--adjust {
  padding: 4rem 0 9rem;
  position: relative;
}

@media (max-width: 1023px) {
  .section-simple--adjust {
    padding-bottom: 5rem;
  }
}

@media (max-width: 767px) {
  .section-simple--adjust {
    padding: 3rem 0 5rem;
  }
}

@media (max-width: 767px) {
  .section-simple--adjust .section__accordion {
    margin-bottom: 4.4rem;
  }
}

/* ------------------------------------------------------------ *\
	section
\* ------------------------------------------------------------ */

.section {
  padding: 5.5rem 0;
  overflow: hidden;
}

@media (max-width: 767px) {
  .section {
    padding: 1.8rem 0;
  }
}

.section .section__head {
  text-align: center;
  max-width: 120rem;
  margin: 0 auto 8.9rem;
}

@media (max-width: 1023px) {
  .section .section__head {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .section .section__head {
    margin-bottom: 4.6rem;
  }
}

.section .section__scroll-btn {
  display: none;
}

@media (max-width: 1023px) {
  .section .section__scroll-btn {
    display: block;
    margin: 4rem 0 0;
  }
}

.section .section__head:nth-last-child(1) {
  margin-bottom: 0;
}

.section .section__head .section__image {
  transform: none;
  opacity: 0;
}

@media (max-width: 767px) {
  .section .section__head .section__image {
    margin: 0 -2rem;
  }
}

@media (max-width: 767px) {
  .section .section__head .section__image p {
    padding: 0 2rem;
  }
}

@media (max-width: 767px) {
  .section .section__head .section__image--adjust {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .section .section__head .section__image--adjust p {
    padding: 0;
  }
}

.section .section__body {
  max-width: 112.7rem;
  margin: 0 auto;
}

.section .section__row ~ .section__row {
  margin-top: 7.7rem;
}

@media (max-width: 767px) {
  .section .section__row ~ .section__row {
    margin-top: 3.2rem;
  }
}

.section .section__row--align-right {
  display: flex;
  justify-content: flex-end;
}

.section .section__image {
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  font-family: var(--ff-now);
  display: inline-block;
  opacity: 0;
  transform: translateY(10rem);
}

@media (max-width: 1023px) {
  .section .section__image {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .section .section__image {
    font-size: 1.8rem;
  }
}

.section .section__image img {
  display: block;
  margin-bottom: 4rem;
}

@media (max-width: 767px) {
  .section .section__image img {
    margin-bottom: 2.6rem;
  }
}

.section .section__image--adjust img {
  margin-bottom: 4.8rem;
}

@media (max-width: 767px) {
  .section .section__image--adjust img {
    margin-bottom: 2rem;
  }
}

.section .section__body .section__image {
  transform: translateX(-20rem);
}

.section .section__row--align-right .section__image {
  transform: translateX(20rem);
}

.section .is-visible {
  opacity: 1;
  transform: none;
  transition: transform 0.6s, opacity 0.6s ease-in-out;
}

.section .section__row .is-visible {
  opacity: 1;
  transform: none;
  transition: transform 0.6s, opacity 0.6s ease-in-out;
}

.section .section__row--align-right .is-visible {
  opacity: 1;
  transform: none;
  transition: transform 0.6s, opacity 0.6s ease-in-out;
}

.section .section__head .is-visible {
  opacity: 1;
  animation: shakeTilt 1.4s;
  transition: opacity 0.6s ease-in-out;
}

/* ------------------------------------------------------------ *\
	socials
\* ------------------------------------------------------------ */

.socials {
  position: relative;
  padding: 1.4rem 0 1.4rem 2.9rem;
  isolation: isolate;
}

@media (max-width: 1023px) {
  .socials {
    padding: 0;
  }
}

.socials .socials__decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (max-width: 1023px) {
  .socials .socials__decoration {
    object-fit: cover;
    z-index: -1;
    top: -1rem;
    height: calc(100% + 2rem);
    display: none;
  }
}

.socials > ul {
  position: relative;
  z-index: 2;
  z-index: 2;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem 2.1rem;
}

@media (max-width: 1023px) {
  .socials > ul {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  .socials > ul {
    gap: 1rem;
  }
}

.socials > ul a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .socials > ul a img {
    width: 3rem;
  }
}

.socials > ul li.full-width {
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
}

@media (max-width: 1023px) {
  .socials > ul li.full-width {
    justify-content: flex-end;
  }
}

@media (max-width: 1023px) {
  .socials > ul li.full-width a img {
    width: 10rem;
  }
}

@media (max-width: 767px) {
  .socials > ul li.full-width a img {
    width: 6.5rem;
  }
}